.about-content {
  color: $very-light-blue;
  font-size: 150%;
  span {
    font-weight: 800;
    font-size: 150%;
  }
  li {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
