.title {
  color: white;
  text-align: center;
  font-size: 450%;
  font-family: Tahoma, Geneva, sans-serif;
}

.subtitle {
  color: $light-blue;
  text-align: center;
  font-size: 250%;
  font-family: Tahoma, Geneva, sans-serif;
  border-bottom: 3px solid $light-blue;
  width: 80%;
  margin: 0 auto 50px;
}
