<h1 class="title">About Us</h1>
<div class="about-content">
  <p><span>We, Simple Dream Publishing,</span>
  are a publisher of books, stationary and everyday items.
  Our company was founded in 2003 with two objectives in mind:
  </p>
  <ul>
    <li>
    To publish books and items that make a positive contribution to the life of those who buy them,
    by offering practical and functional products with a distinct aesthetic appeal,
    adding a touch of art and beauty to everyday life.
    </li>
    <li>
    To live a more balanced life.
    That working at the creation, production and distribution of our products be a gratifying activity,
    one that does not impede our personal growth nor jeopardize our family life.
    We want work to still allow us the flexibility and the means to live and to enjoy a better quality of life with our family.
    </li>
  </ul>
  <p>
  over a decade later, the dream is alive and blossoming.
  We thank you for taking the time to visit this site and we hope that, in our own small way,
  we have had and will continue to have the opportunity to make a positive contribution to your life.
  </p>
</div>
