<div class="content-window">
  <h1 class="title">
    Welcome to Simple Dream Publishing!
  </h1>

  <%= render 'shared/products_slider', products: @products %>

  <%= render 'featured_products', products: @featured_products %>
</div>
