<div class="content-window">
  <h1 class="title">
    Welcome to Simple Dream Publishing!
  </h1>

  <div class="owl-carousel">
    <% @products.each do |product| %>
      <div>
        <%= image_tag product.slider_path %>
      </div>
    <% end %>
  </div>

  <%= render 'featured_products', products: @featured_products %>
</div>
