<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @email %> has contacted you:</h1>
    <b>message: </b>
    <p><%= @message %></p>
  </body>
</html>
