//Global Colors
$very-dark-blue: #000066;
$dark-blue: #333399;
$base-blue: #6666cc;
$light-blue: #c3c3e1;
$very-light-blue: #ccccff;

//shared
@import 'shared/typography';
@import 'shared/topbar';
@import 'shared/background';
@import 'shared/content_window';

//home page
@import 'home/featured_products';

//imports
@import 'owl.carousel';
@import 'owl.theme.default';
