<h1 class="title"><%= t('our_products_name') %></h1>

<div class="owl-carousel owl-theme products-slider">
  <% @slides.each do |slide| %>
    <div>
      <%= image_tag slide.image_path %>
    </div>
  <% end %>
</div>

<div class="about-content">
  <p>
    <%= t('our_products_intro') %>
  </p>
</div>
